<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Weather Forecast: {{ city }}</title>
  <style>
            /* image was too big and not formatted TODO: ADD MORE STYLING */
        .weatherpng{
            width: 50px;
            display: block;
            margin: 0 auto;
        }
  </style>
</head>
<body>
    <h1>Daily Weather Forecast for {{ city }}</h1>
     <!-- create table -->
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature (F)</th>
                <th>Precipitation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- use flasks Jinja2  -->
             <!-- create for loop -->
            {% for r in data %}
            <tr>
                 <!-- get values from list -->
                {% for v in r[:3] %}
                 <!-- show value in table -->
                <td>{{ v }}</td>
                {% endfor %}
                 <!-- get image from file using .png file name from row - this reads the image using src-->
                <td><img  src="{{ url_for('static', filename=r[3]) }}" alt="Weather.png" class="weatherpng"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <!-- create hourly forecast button using forms to redirect to home (flask "/hourly_forecast" route) -->
             <form action="{{ url_for('hourly_forecast') }}" method="post">
            <input type="hidden" name="city" value="{{ city }}">
            <button type="submit">See Hourly Forecast</button>
        </form>
         <!-- create home button using forms to redirect to home (flask "/" route) -->
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>
    </div>
</body>
</html>
